// change background color of site footer
.site-footer {
  grid-area: footer;
  background-color: slategrey;
  color:white;
  padding: 1em;
  text-align: center;
  display: inline-block;
}

.back-to-top , .social-nav, .site-info {
  width: 33%;
  float:left;

  // Gets screen width and if width is < query__medium stacks them instead of length ways
  @media screen and (max-width: $query__laptop) {
    float:none;
    width: 100%;
  }
}

.back-to-top{
  margin: 0;
  padding: 0;
  justify-content: center;
  display: flex;
  a {
    text-decoration: none;
    z-index: 99; // Make sure it does not overlap
    border: none; // Remove borders
    outline: none; // Remove outline
    //background-color: red; /* Set a background color
    color: #E5F2C9; // Text color
    cursor: pointer; // Add a mouse pointer on hover
    padding: .25em 1em; // Some padding
    border-radius: 25px; // Rounded corners
    //font-size: 18px; // Increase font size
      &:hover, &:focus { // Hovering over the Social nav menu
        text-decoration: underline;
        background-color: #191516;
        border-radius: 25px;
      }
  }
}

.social-nav{
  ul { // Social Nav Menu
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    a{ // Writing on Social nav menu
      display: block;
      padding: .25em 1em;
      color: #E5F2C9;
      text-decoration: none;

      &:hover, &:focus { // Hovering over the Social nav menu
        text-decoration: underline;
        background-color: #191516;
        border-radius: 25px;

      }

    }

  }
}

.site-info{
}
