// Mobile Styling
.main-navigation {
  a {
    text-decoration: none;
  }

  ul {
    // Hide navigation menu
    display: none;
    // Remove dot points
    list-style: none;
    // Remove indentation
    padding-left: 0;
    // Separate sections
    margin: 1vh 0;

    ul {
      // Hide drop down menus
      display: none;
      margin-left: 5%;
    }

    li {
      position: relative;
    }

    a {
      color: black;
    }

  }
}

button.dropdown-toggle {
  // Make dropdown icon be on right
  position: absolute;
  right: 0;
}

// Display navigation menu
.toggled-on ul {
  display: block;
}

// Display dropdowns
.sub-menu.toggled-on {
  display: block;
}

// Larger Devices
@media screen and (min-width: $query__laptop) {

  // Hide menu toggle button
  .menu-toggle {
    display: none;
  }

  // Hide navigation dropdown
  .dropdown-toggle {
    display: none;
  }


  .main-navigation {
    .menu-item-has-children:hover,
    .page-item-has-children:hover {
      ul {
        // Display dropdown on hover
        display: block;
        position: absolute;
        width: 250px;
        background-color: white;
        box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2);
      }
    }

    ul {
      // Display navigation menu
      display: flex;
      margin: 0;
      ul {
        li {
          // Add padding onto dropdown items
          padding: 10px 2px 10px 2px;
        }
      }
    }

    // Add padding to all menu items
    a {
      padding: 14px 16px;
    }

  }
}
