button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-color: transparent;
  background-color: transparent;
  color: white;
  line-height: 1;

  &:hover, &:focus {
    // Change colour to black
    color: black;
  }
}
